@font-face {
    font-family: "Bellota serif ";
    src : url("../font/Bellota-Regular.otf");
}

/*
colors: #0d8187, #FFF, #303030
*/

// header .img

/* body
.h2
.form
.input
.error
.validate

...
*/

//